%page-header
  %h1 Listing cities

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Observations
      %th Address
      %th Image
      %th

  %tbody
    - @cities.each do |city|
      %tr
        %td= link_to city.name, city
        %td= city.observations
        %td= image_tag city.image.thumb
        %td
