%page-header
  %h1 Listado de Carpetas

%table.table.table-hover
  %thead
    %tr
      %th Nombre
      %th Fecha
      %th Dirección
      %th Imagen
      %th

  %tbody
    - @reports.each do |report|
      %tr
        %td= link_to report.nombre, report
        %td= report.fecha
        %td= report.descripcion
        %td= image_tag report.image.thumb
        %td
